.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; 
  padding: 20px;
}

@media (min-width: 768px) {
  .steps-container {
      flex-direction: row;
      gap: 20px; 
  }
}


.steps-item {
  border: 1px solid #ff0000;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  text-align: start;
  position: relative;
  background-color: #fff;
}

.steps-item:hover {
  box-shadow: 0 0 20px 4px rgba(240, 0, 0, 0.3); 
}

.steps-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.steps-title {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.steps-text {
  color: #333;
  font-size: 14px;
}

.steps-arrow {
  position: relative;
  width: 60px; 
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .steps-arrow {
    display: none;
  }
}

.arrow-img {
  width: 100%; 
  height: auto;
}

.arrow-up {
  animation: arrowUpMove 2s infinite ease-in-out;
  position: relative;
  bottom: 160px;
}

.arrow-down {
  animation: arrowDownMove 2s infinite ease-in-out;
  position: relative;
  top: 160px;
}

@keyframes arrowDownMove {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes arrowUpMove {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

/* For larger screens - make responsive */
@media (min-width: 768px) {
  .steps-item {
    max-width: 350px; /* slightly larger on medium screens */
  }

  .steps-arrow {
    width: 40px;
    height: 40px;
  }

  .arrow-img {
    width: 200%; 
  }
}

@media (min-width: 1024px) {
  .steps-item {
    max-width: 400px; /* slightly larger on large screens */
  }

  .steps-arrow {
    width: 50px;
    height: 50px;
  }

  .arrow-img {
    width: 250%; 
  }
}