.viewpage {
  display: flex;
  flex-wrap: wrap;
   justify-content: space-around;
    align-self: center; 
  /* background: #000; */
}

.section1 {
  display: flex;
  /* flex: 6; */
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.section1 h1 {
  font-family: montserrat, sans-serif;
  font-size: 3.563rem;
  line-height: 4rem;
  font-weight: 600;
}

.section1 p{
  max-width: 35rem;
  color: #050708;
  font: 400 1.125rem / 2rem 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;

}

.label-red {
  background-color: #ed2024;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  padding: 0.8rem 1.2rem;
  -moz-border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  border-radius: 0.75rem;
  vertical-align: 0.5rem;
  /* visibility: hidden; */
}
.section2 {
  display: flex;
  /* flex: 6; */
  justify-content: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f0f0f0; */
}

/* .outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  } */

.rectangle {
  width: 80%;
  max-width: 500px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.box {
  width: 230px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  color: black;
  border-radius: 50px;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 0 10px;
  cursor: pointer;
}

.right-col {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #b4b1b1; */
}

.save {
  background-color: #ed2024;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #fff;
  width: 5.3125rem;
  margin: auto auto 0;
  /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
}

.number {
  font-size: 1.5rem;
  font-weight: 700;
  color: #050708;
  line-height: 1.55rem;
  display: block;
  margin-top: 0.2rem;
}
.views {
  font-size: 18px;
  line-height: 1rem;
  font-weight: 600;
  color: #4b4b4b;
  margin-right: 9px;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  line-height: 1.9375rem;
  color: #ed2024;
  font-weight: 700;
}
.box.box-border {
  border: 2px solid darkred;
  background-color: #ffd7d7;
}
.buy-now {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 400px;
  height: 65px;
  transition: background-color 0.3s, transform 0.2s;
}

.buy-now:hover {
  background-color: #333;
  transform: scale(1.05);
}
.box.selected {
  border-color: darkred; 
  background-color: #f6dbdb;
}

/* .box:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  } */

  /* .subscription-filter{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5; 
    width: 100%;
    flex-direction: row;
  } */
  
  /* .tab {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background-color: transparent;
    border: none;
    outline: none;
    transition: color 0.3s ease-in-out;
    position: relative;
    font: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;

  }
  
  .tab.active {
    color: #e50914; 
    font-weight: 700;
  }
  
  .tab.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #e50914; 
    bottom: -1px;
    left: 0;
  }
  
  .tab:not(.active):hover {
    color: #837e7c;
  } */


  .subscription-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: 2px solid #ddd;
  }
  
  .tab {
    /* padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
    margin-right: 10px; */

    font-size: .9375rem;
    font-weight: 700;
    color: #050708;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    padding: .4rem 1rem .55rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    font: 400 1.125rem / 2rem 'Montserrat', sans-serif;
  }
  
  .tab:hover {
    color: #d32f2f;
  }
  
  .tab.active {
    color: #fff;
    background-color: #4d2121;
    border-bottom: 2px solid #d32f2f;
    font-weight: bold;
  }
  
  .tab:last-child {
    margin-right: 0;
  }
  

  .grey-title {
    background-color: #f5f5f5;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    font: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  .grey-title p {
    margin: 0;
  }
  
  .grey-title span {
    font-weight: 500;
  }
  
  .discount-info {
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
  

.count {
  font-size: 20px;
  font-weight: bold;
}

.likes {
  font-size: 16px;
  font-weight: normal;
}
.next-container {
  display: flex; 
  justify-content: center;
  gap: 20px; 
}

.next-container button {
  background-color: #ed2024; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  border-radius: 5px; 
  font-size: 16px;
  font-weight: bold;
  display: flex; 
  align-items: center;
  justify-content: center;
  color: #ffffff; 
  transition: background-color 0.3s ease;
}

.next-container button:disabled {
  cursor: not-allowed; 
  opacity: 0.5;
}

.next-container button:hover:not(:disabled) {
  background-color: #000000;
}

.next-container button:before {
  margin-right: 10px;
}

.next-container button:nth-child(2):before {
  margin-left: 10px;
  margin-right: 0;
}

.features-points {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  gap: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.feature-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}

.checkmark {
  color: #e50914;
  font-size: 18px;
  margin-right: 10px; 
}

.features div {
  margin-bottom: 10px;
}
