.homepage{
    display:flex;
    justify-content: center;
    align-self: center;
    /* background: #000; */
}

.mainpage{
    display: flex;
    flex: 6;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
}
.mainpage h1{
    font-size: 50px;    
    color: rgb(244, 49, 49);
}
.growth{
    color: black;
    /* margin-left: 10%; */
}
.mainpage p{
    max-width: 70%;
    font-size: 25px;
    font-family: initial;
    letter-spacing: 1px;
    margin-left: 21%;
}
.mainimage{
    display: flex;
    flex: 6;
    justify-content: center;
    align-self: center;
    /* width: 50%; */

}