.homepage{
    display:flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    /* background: #000; */
}

.mainpage{
    display: flex;
    flex: 6;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
}
.mainpage h1{
    font-size: 50px;    
    color: rgb(244, 49, 49);
}
.growth{
    color: black;
    /* margin-left: 10%; */
}
.mainpage p{
    max-width: 70%;
    font-size: 25px;
    font-family: initial;
    /* letter-spacing: 1px; */
    margin-left: 21%;
    font: 400 1.125rem / 2rem 'Montserrat', sans-serif;
    letter-spacing:0;
    color: #050708;
    -webkit-font-smoothing: antialiased;

}
.mainimage{
    display: flex;
    flex: 6;
    justify-content: center;
    align-self: center;
    /* width: 50%; */

}
.label-red{
    background-color: #ed2024;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
    display: inline-block;
    color: #fff;
    padding: .8rem 1.2rem;
    -moz-border-radius: .75rem;
    -webkit-border-radius: .75rem;
    border-radius: .75rem;
    vertical-align: .5rem;
}
@media (max-width: 425px) {
.mainpage p {
    /* max-width: 70%; */
   display: none;
}
.mainpage h1{
    font-size: 25px;    
    color: rgb(244, 49, 49);

}.mainpage{
    text-align: center  ;
}.label-red{
    font-size: 1rem;

}.homepage{
    flex-direction: column;
}
}