
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.refund-policy {
  margin: 0 12%;
  color: #050708;
  font: 18px / 32px 'Montserrat', sans-serif !important;
  letter-spacing: 0;
  padding-bottom: 50px;
}

.refund-policy h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

.refund-policy h1 {
  font-size: 1.5rem;
  /* text-align: center; */
  margin-bottom: 20px;
}

.refund-policy p {
  font-size: 18px;
  color: #050708;
}

.refund-policy .roman-bold {
  font-weight: bold;
  color: black;
}

.refund-policy p a {
  color: #ed2024;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .refund-policy {
    margin: 0 5%;
    padding: 10px;
  }

  .refund-policy h1 {
    font-size: 2rem;
  }

  .refund-policy p {
    font-size: 16px;
  }
}