/* Contact container styles */
.contact-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #ffe9e8;
  color: #333;
  flex-wrap: wrap;
}

.contact-left {
  width: 40%;
}

.contact-left h2,
.contact-right h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-left ul {
  list-style: none;
  padding: 0;
}

.contact-left ul li {
  margin-bottom: 10px;
}

.contact-left ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.contact-left h3 {
  font-size: 20px;
  margin-top: 20px;
}

/* Contact right section styling */
.contact-right {
  background: var(--white-color);
  border: 1px solid var(--divider-color);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 30%;
  background-color: #fff;
}

.contact-right span {
  color: #e74c3c;
}

/* Contact form styling */
.contactFrom form {
  display: flex;
  flex-direction: column;
}

.contactFrom input,
.contactFrom textarea {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

.contactFrom textarea {
  font-family: inherit;
  width: 100%;
  /* width: 2  00px; */
}

.contact-submit {
  background: linear-gradient(to right, #f39c12, #e74c3c);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form button:hover {
  background: linear-gradient(to right, #e67e22, #d35400);
}

/* Contact header section */
.contact-main {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('../../public/images/Header-top.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.contact-content {
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-content h1 {
  font-size: 48px;
  margin: 0;
}

.contact-content h1:hover {
  color: #fca8a8;
  cursor: pointer;
}

.contact-content p {
  font-size: 18px;
  margin-top: 10px;
}

.contact-content a {
  color: white;
  text-decoration: none;
}

.contact-content a:hover {
  color: #fca8a8;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1024px) {
  .contact-left, 
  .contact-right {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 30px;
  }
  
  .contact-left,
  .contact-right {
    width: 100%;
    margin-bottom: 30px;
  }

  .contact-main {
    height: 300px;
  }

  .contact-content h1 {
    font-size: 36px;
  }

  .contact-content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .contact-main {
    height: 250px;
  }

  .contact-content h1 {
    font-size: 28px;
  }

  .contact-content p {
    font-size: 14px;
  }
.contact-right{
  width: 100%;
  padding: 0px;
}
.contact-right input{
  width: 91%;
}
  .contact-right h2 {
    font-size: 17px;
    margin-left: 10px;
  }

  .contact-left h2 {
    font-size: 22px;
  }
  .contactFrom textarea{
    width: 90%;
  }
}
