.header2main {
  position: relative;
  margin-top: 20px;
  height: 100px;
  border-top: 1px solid #e5e9ed;
  border-bottom: 1px solid #e5e9ed;
}

.main-contain-icons {
  text-align: center;
}

.icon-item {
  display: inline-block;
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.icon-item:hover .dropdown-content {
  display: block;
}

.icon-item p {
  margin-top: 10px;
  font-size: 14px;
}

.dropdown-content {
  display: none;
  /* position: absolute;  */
  top: 40px;
  left: 50%;
  /* transform: translateX(-50%); */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1;
  border-radius: 5px;
  /* width: 160px; */
}

.dropdown-content ul {
  list-style-type: none;
  padding: 10px;
}

.dropdown-content ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 5px;
}

.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
}

.slick-prev:before, .slick-next:before {

  color: #000000;
 
}

.slick-prev:before, .slick-next:before {
  font-size: 20px;
}

.slick-arrow.slick-prev {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 99;
}
.slick-arrow.slick-next {
  position: absolute;
  right: 0;
  top: 50px;
}
/* .arrow{
  display: block;
  color: brown;
  border-radius: 50%;
  background: #d1cdcd;
} */

@media (max-width: 768px) {
  .slick-prev, .slick-next {
    display: none;
  }
}
