.why-views4you-container {
    padding: 60px 20px;
    background-color: #f7f7f7;
  }
  
  .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }
  
  .main-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sub-title {
    color: #e74c3c;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .reasons-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  
  .reason-item {
    display: flex;
    align-items: center;
  }
  
  .bullet {
    color: #e74c3c;
    font-size: 24px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .reason-text {
    color: #4a4a4a;
    font-weight: bold;
  }
   
  .reason-description p{
    /* max-width: 600px; */
    color: #666;
    margin-top: 40px;
  }
  
  /* Media Queries for Responsiveness */
  @media (min-width: 768px) {
    .reasons-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .reasons-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .main-title {
      font-size: 40px;
    }
  
    .sub-title {
      font-size: 24px;
    }}